In [1]:
import pandas as pd 
import numpy as np

In [2]:
movie_data = pd.read_csv('C:\\Users\\Mandhata Kumar\\Machine_Learning\\Pandas\\DataFrame\\imdb-top-1000.csv')
movie_data

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
974,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
975,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
976,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
977,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
978,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [14]:
genres = movie_data.groupby('Genre')

In [27]:
# find the top 3 generes by total earning 
generes = movie_data.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)
generes

Genre
Drama     3.503815e+10
Action    3.174757e+10
Comedy    1.560627e+10
Name: Gross, dtype: float64

In [33]:
# average imdb rating of Genre
movie_data.groupby('Genre')['IMDB_Rating'].mean()  # average imdb rating of Genre

Genre
Action       7.934524
Adventure    7.928169
Animation    7.922222
Biography    7.925581
Comedy       7.896753
Crime        7.979000
Drama        7.947183
Family       7.800000
Fantasy      8.000000
Film-Noir    7.966667
Horror       7.909091
Mystery      7.975000
Thriller     7.800000
Western      8.350000
Name: IMDB_Rating, dtype: float64

In [39]:
# find the gonere with highest imdb rating 
movie_data.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(3)

Genre
Western    8.350
Fantasy    8.000
Crime      7.979
Name: IMDB_Rating, dtype: float64

In [44]:
# find director with most imdb rating
movie_data.groupby('Director')['IMDB_Rating'].mean().sort_values(ascending=False).head(10)

Director
Frank Darabont                      9.300000
Irvin Kershner                      8.700000
Lana Wachowski                      8.700000
Sudha Kongara                       8.600000
Thomas Kail                         8.600000
Roger Allers                        8.500000
Milos Forman                        8.500000
Christopher Nolan                   8.433333
Makoto Shinkai                      8.400000
Florian Henckel von Donnersmarck    8.400000
Name: IMDB_Rating, dtype: float64

In [49]:
# find the director with most popularity 
movie_data.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(5)

Director
Christopher Nolan    8875726
Quentin Tarantino    8123208
Steven Spielberg     6581362
Peter Jackson        6148579
Martin Scorsese      5323757
Name: No_of_Votes, dtype: int64

In [52]:
# find no of movie done by each actor 
movie_data.groupby('Star1')['Series_Title'].count().sort_values(ascending=False).head(5)

Star1
Robert De Niro     11
Clint Eastwood     10
Tom Hanks          10
Al Pacino          10
Humphrey Bogart     9
Name: Series_Title, dtype: int64

In [ ]:
# GroupBy Attributes and Methods 
# find total number of groups -> len
# find items in each group -> size 
# first()/last() -> nth item 
# get_group -> vs filtering 
# groups 
# describe 
# sample 
# nunique

In [53]:
len(movie_data.groupby('Genre'))

14

In [57]:
movie_data.groupby('Genre').size()

Genre
Action       168
Adventure     71
Animation     81
Biography     86
Comedy       154
Crime        100
Drama        284
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [58]:
movie_data['Genre'].nunique()

14

In [63]:
genres = movie_data.groupby('Genre')
#genres.first()    # get the first movie in the Genre
#genres.last()    # get the last movie in the Genre 
genres.nth(6)   # get the 7 movie in this genre

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,Action,8.7,Irvin Kershner,Mark Hamill,1159315,290475067.0,82.0
29,Casablanca,1942,102,Drama,8.5,Michael Curtiz,Humphrey Bogart,522093,1024560.0,100.0
49,Mononoke-hime,1997,134,Animation,8.4,Hayao Miyazaki,YÃ´ji Matsuda,343171,2375308.0,76.0
58,Witness for the Prosecution,1957,116,Crime,8.4,Billy Wilder,Tyrone Power,108862,8175000.0,NaN
74,AmÃ©lie,2001,122,Comedy,8.3,Jean-Pierre Jeunet,Audrey Tautou,703810,33225499.0,69.0
110,Green Book,2018,130,Biography,8.2,Peter Farrelly,Viggo Mortensen,377884,85080171.0,69.0
116,Queen,2013,146,Adventure,8.2,Vikas Bahl,Kangana Ranaut,60701,1429534.0,NaN
399,Sleuth,1972,138,Mystery,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN
703,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0

In [65]:
genres.get_group('Fantasy')   # get the fantasy movie in this Genre 
movie_data[movie_data['Genre'] == 'Fantasy']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
300,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
547,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [66]:
genres.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 21, 23, 34, 36, 38, 39, 42, 47, 51, 85, 88, 108, 109, 113, 119, 121, 123, 131, 134, 139, 140, 145, 147, 150, 151, 156, 160, 173, 180, 181, 195, 196, 202, 203, 215, 220, 241, 254, 273, 287, 299, 304, 305, 310, 316, 318, 319, 322, 324, 327, 330, 332, 335, 336, 341, 347, 348, 354, 355, 369, 389, 410, 415, 452, 456, 458, 461, 467, 472, 475, 481, 486, 490, 511, 514, 519, 522, 543, 548, 549, 552, 556, 561, 562, 581, 584, 587, 594, 602, 604, 606, 613, 620, ...], 'Adventure': [26, 72, 89, 93, 95, 97, 116, 157, 158, 170, 172, 188, 205, 210, 226, 246, 252, 260, 279, 280, 283, 285, 302, 308, 340, 345, 356, 381, 385, 394, 405, 437, 449, 476, 477, 485, 492, 493, 516, 528, 531, 532, 545, 555, 583, 588, 597, 617, 626, 654, 660, 665, 671, 690, 692, 718, 734, 760, 776, 777, 830, 852, 863, 891, 898, 926, 936, 943, 945, 963, 970], 'Animation': [22, 25, 35, 37, 40, 45, 49, 80, 114, 125, 130, 137, 149, 176, 184, 190, 192, 198, 208, 209, 221, 224, 225, 249, 309, 311, 337, 346, 357, 365, 368, 373, 374, 378, 380, 384, 388, 448, 478, 489, 495, 497, 501, 557, 565, 571, 574, 575, 578, 612, 619, 622, 630, 644, 651, 673, 707, 719, 720, 723, 735, 737, 740, 750, 762, 775, 778, 801, 807, 822, 854, 870, 871, 881, 885, 899, 935, 950, 955, 965, 971], 'Biography': [7, 15, 18, 33, 81, 86, 110, 118, 126, 136, 138, 152, 155, 191, 194, 197, 207, 214, 222, 242, 255, 261, 269, 277, 296, 307, 317, 321, 325, 338, 339, 344, 351, 352, 364, 390, 395, 397, 403, 408, 463, 504, 515, 521, 524, 554, 558, 566, 579, 585, 593, 601, 611, 614, 623, 628, 629, 636, 650, 652, 663, 708, 727, 732, 736, 738, 745, 749, 758, 788, 789, 794, 799, 810, 828, 837, 856, 861, 876, 889, 894, 902, 919, 928, 931, 966], 'Comedy': [19, 30, 31, 43, 57, 62, 74, 75, 91, 96, 99, 106, 107, 111, 132, 148, 162, 171, 183, 186, 187, 193, 200, 212, 217, 219, 229, 230, 231, 235, 240, 245, 256, 263, 290, 292, 295, 297, 301, 306, 353, 358, 360, 371, 375, 382, 392, 393, 396, 406, 414, 424, 425, 428, 434, 438, 439, 442, 443, 445, 450, 451, 454, 460, 469, 473, 479, 482, 488, 505, 507, 509, 510, 512, 517, 518, 520, 526, 536, 537, 541, 542, 544, 553, 570, 572, 573, 577, 592, 605, 609, 639, 641, 646, 658, 659, 662, 666, 680, 683, ...], 'Crime': [1, 3, 4, 6, 50, 56, 58, 65, 66, 82, 87, 90, 92, 102, 104, 112, 115, 141, 142, 143, 144, 159, 165, 166, 168, 177, 201, 211, 218, 234, 236, 266, 267, 278, 284, 314, 342, 343, 359, 363, 376, 416, 417, 420, 421, 423, 429, 430, 444, 453, 459, 464, 466, 484, 491, 498, 499, 502, 506, 525, 535, 539, 563, 576, 582, 586, 590, 600, 618, 632, 643, 648, 655, 674, 687, 702, 741, 742, 746, 754, 770, 774, 781, 790, 802, 806, 812, 864, 874, 900, 901, 905, 917, 918, 933, 937, 939, 953, 959, 978], 'Drama': [0, 9, 11, 17, 20, 24, 29, 32, 41, 44, 46, 52, 53, 55, 59, 61, 63, 64, 67, 68, 69, 70, 71, 73, 76, 77, 78, 79, 83, 84, 100, 101, 103, 105, 117, 120, 122, 127, 128, 129, 133, 135, 146, 153, 154, 161, 163, 164, 167, 169, 174, 175, 178, 179, 182, 185, 189, 204, 206, 213, 216, 223, 227, 228, 232, 233, 237, 238, 239, 243, 244, 247, 248, 251, 253, 257, 258, 259, 262, 264, 265, 268, 270, 271, 272, 274, 275, 276, 281, 282, 286, 289, 291, 293, 294, 298, 303, 312, 313, 315, ...], 'Family': [667, 677], 'Fantasy': [300, 547], 'Film-Noir': [288, 435, 691], 'Horror': [28, 54, 250, 398, 523, 686, 703, 823, 855, 911, 927], 'Mystery': [48, 60, 98, 124, 199, 372, 399, 693, 808, 878, 938, 940], 'Thriller': [679], 'Western': [12, 27, 94, 670]}

In [67]:
genres.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      168.0  128.452381  28.115632   45.0  110.00  127.0  143.00  321.0
Adventure    71.0  133.619718  33.290653   88.0  109.00  127.0  148.50  228.0
Animation    81.0   99.271605  14.338769   71.0   90.00   99.0  106.00  137.0
Biography    86.0  136.139535  25.635987   93.0  120.00  129.0  146.00  209.0
Comedy      154.0  112.103896  23.018938   68.0   96.00  106.0  124.75  188.0
Crime       100.0  125.810000  27.741846   80.0  105.75  121.0  140.75  229.0
Drama       284.0  124.630282  27.832423   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          168.0  7.934524  ...  2.582392e+08  936662225.0     139.0
Adventure        71.0  7.928169  ...  2.034079e+08  874211619.0      63.0
Animation        81.0  7.922222  ...  2.522436e+08  873839108.0      74.0
Biography        86.0  7.925581  ...  1.009723e+08  753585104.0      77.0
Comedy          154.0  7.896753  ...  8.223904e+07  886752933.0     124.0
Crime           100.0  7.979000  ...  6.512922e+07  790482117.0      80.0
Drama           284.0  7.947183  ...  1.166434e+08  924558264.0     237.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.086331  12.288490  33.0  65.00  74.0  82.00   97.0
Adventure  78.507937  12.431584  41.0  69.50  81.0  87.50  100.0
Animation  80.891892   8.698240  61.0  75.00  82.0  86.75   96.0
Biography  76.376623  10.905140  48.0  71.00  76.0  84.00   97.0
Comedy     78.879032  11.742213  45.0  72.00  79.5  88.00   99.0
Crime      77.437500  13.257760  47.0  70.00  77.0  88.50  100.0
Drama      79.379747  13.711282   1.0  72.00  81.0  88.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [71]:
genres.sample(2, replace=True)  # create the create copy of which row not have 2 row of movie

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
716,Captain America: The Winter Soldier,2014,136,Action,7.7,Anthony Russo,Joe Russo,736182,259766572.0,70.0
888,Celda 211,2009,113,Action,7.6,Daniel MonzÃ³n,Luis Tosar,63882,242105549.0,NaN
654,Back to the Future Part II,1989,108,Adventure,7.8,Robert Zemeckis,Michael J. Fox,481918,118500000.0,57.0
158,The Great Escape,1963,172,Adventure,8.2,John Sturges,Steve McQueen,224730,12100000.0,86.0
497,Mimi wo sumaseba,1995,111,Animation,7.9,Yoshifumi KondÃ´,Yoko Honna,51943,252243550.0,75.0
737,Papurika,2006,90,Animation,7.7,Satoshi Kon,Megumi Hayashibara,71379,881302.0,81.0
214,Hotel Rwanda,2004,121,Biography,8.1,Terry George,Don Cheadle,334320,23530892.0,79.0
554,Hidden Figures,2016,127,Biography,7.8,Theodore Melfi,Taraji P. Henson,200876,169607287.0,74.0
773,Hedwig and the Angry Inch,2001,95,Comedy,7.7,John Cameron Mitchell,John Cameron Mitchell,31957,3029081.0,85.0
780,Happiness,1998,134,Comedy,7.7,Todd Solondz,Jane Adams,66408,2807390.0,81.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
142,Eskiya,1996,128,Crime,8.2,Yavuz Turgul,Sener Sen,64118,764480450.0,NaN
839,Zulu,1964,138,Drama,7.7,Cy Endfield,Stanley Baker,35999,790226546.0,77.0
721,Detachment,2011,98,Drama,7.7,Tony Kaye,Adrien Brody,77071,71177.0,52.0
667,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
667,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
547,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
300,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
435,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
691,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
398,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
398,The Exorcist,1973,122,Horror,8.0,William Friedkin,Ellen Burstyn,362393,232906145.0,81.0
693,The Lady Vanishes,1938,96,Mystery,7.8,Alfred Hitchcock,Margaret Lockwood,47400,474203697.0,98.0
938,Dark City,1998,100,Mystery,7.6,Alex Proyas,Rufus Sewell,187927,14378331.0,66.0
679,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
679,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
94,Per qualche dollaro in piÃ¹,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0
670,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [72]:
genres.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,168,59,76,14,121,121,168,168,49
Adventure,71,49,58,9,58,58,71,71,33
Animation,81,35,41,10,51,76,81,81,29
Biography,86,44,55,12,74,70,86,86,38
Comedy,154,72,70,11,112,132,154,154,43
Crime,99,54,63,12,81,81,100,100,39
Drama,284,83,95,14,208,249,283,282,53
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [74]:
# aggregation method -> agg method 
# passing dict 
genres.agg(
    {
        'Runtime':'mean',
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Gross':'sum',
        'Metascore':'min'
    }
)

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     128.452381     7.934524     69351731  3.174757e+10       33.0
Adventure  133.619718     7.928169     21063803  9.308902e+09       41.0
Animation   99.271605     7.922222     21327254  1.462142e+10       61.0
Biography  136.139535     7.925581     22516881  8.230603e+09       48.0
Comedy     112.103896     7.896753     26996698  1.560627e+10       45.0
Crime      125.810000     7.979000     25851039  7.586221e+09       47.0
Drama      124.630282     7.947183     56783150  3.503815e+10        1.0
Family     107.500000     7.800000       551221  4.391106e+08       67.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       94.0
Horror     102.090909     7.909091      3742556  1.034649e+09       46.0
Mystery    119.083333     7.975000      4203004  1.256417e+09       52.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       69.0

In [81]:
# passing list 
# genres.agg(['min','max','sum','mean'])
genres.agg(['min','max','sum'])

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                                \
                                           max
Genre
Action                                 YÃ´jinbÃ´
Adventure                           Zombieland
Animation          Ã”kami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        Ã€ bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                                             Released_Year  \
                                                         sum           min
Genre
Action     The Dark KnightThe Lord of the Rings: The Retu...          1924
Adventure  Back to the FutureInglourious BasterdsDas Boot...          1925
Animation  The Lion KingHotaru no hakaKimi no na wa.Spide...          1940
Biography  Schindler's ListGoodfellasHamiltonAyla: The Da...          1928
Comedy     GisaengchungModern TimesCity Lights3 IdiotsDr....          1921
Crime      The GodfatherThe Godfather: Part II12 Angry Me...          1931
Drama      The Shawshank RedemptionFight ClubForrest Gump...          1925
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...          1971
Fantasy                Das Cabinet des Dr. CaligariNosferatu          1920
Film-Noir   The Third ManThe Maltese FalconShadow of a Doubt          1941
Horror     PsychoAlienThe ThingThe ExorcistNight of the L...          1933
Mystery    MementoRear WindowVertigoShutter IslandKahaani...          1938
Thriller                                     Wait Until Dark          1967
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...          1965

                                                                   Runtime  \
            max                                                sum     min
Genre
Action     2019  2008200320102001200219991980199419912017201620...      45
Adventure    PG  1985200919811968196219592013197519631948192520...      88
Animation  2020  1994198820162018201720081997199520192009201020...      71
Biography  2020  1993199020202017199519842018201320132004200119...      93
Comedy     2020  2019193619312009196419402001200019731960195219...      68
Crime      2018  1972197419571994198419631957201820131992198319...      80
Drama      2020  1994199919941975202019881942201820122007200619...      64
Family     1982                                           19821971     100
Fantasy    1922                                           19201922      76
Film-Noir  1949                                       194919411943     100
Horror     2017       19601979198219731968196120171978193320042001      71
Mystery    2012   200019541958201020121995197219381988201219981997      96
Thriller   1967                                               1967     108
Western    1976                                   1966196819651976     132

                      IMDB_Rating  ...  \
           max    sum         min  ...
Genre                              ...
Action     321  21580         7.6  ...
Adventure  228   9487         7.6  ...
Animation  137   8041         7.6  ...
Biography  209  11708         7.6  ...
Comedy     188  17264         7.6  ...
Crime      229  12581         7.6  ...
Drama      242  35395         7.6  ...
Family     115    215         7.8  ...
Fantasy     94    170         7.9  ...
Film-Noir  108    312         7.8  ...
Horror     122   1123         7.6  ...
Mystery    138   1429         7.6  ...
Thriller   108    108         7.8  ...
Western    165    593         7.8  ...

                                                       Star1 No_of_Votes  \
                                                         sum         min
Genre
Action     Christian BaleElijah WoodLeonardo DiCaprioElij...       25312
Adventure  Michael J. FoxBrad PittJÃ¼rgen ProchnowKeir Dul...       29999
Animation  Rob MinkoffTsutomu TatsumiRyÃ»nosuke KamikiPete...       25229
Biography  Liam NeesonRobert De NiroLin-Manuel MirandaErd...       27254
Comedy     Kang-ho SongCharles ChaplinCharles ChaplinAami...       26337
Crime      Marlon BrandoAl PacinoHenry FondaJohn Travolta...       27712
Drama      Tim RobbinsBrad PittTom HanksJack NicholsonSur...       25088
Family                               Henry ThomasGene Wilder      178731
Fantasy                             Werner KraussMax Schreck       57428
Film-Noir           Orson WellesHumphrey BogartTeresa Wright       59556
Horror     Anthony PerkinsSigourney WeaverKurt RussellEll...       27007
Mystery    Guy PearceJames StewartJames StewartLeonardo D...       33982
Thriller                                      Audrey Hepburn       27733
Western    Clint EastwoodHenry FondaClint EastwoodClint E...       65659

                                    Gross                             \
               max       sum          min          max           sum
Genre
Action     2303232  69351731       3296.0  936662225.0  3.174757e+10
Adventure  1267869  21063803      61001.0  874211619.0  9.308902e+09
Animation   999790  21327254     128985.0  873839108.0  1.462142e+10
Biography  1213505  22516881      21877.0  753585104.0  8.230603e+09
Comedy      939631  26996698       1305.0  886752933.0  1.560627e+10
Crime      1826188  25851039       6013.0  790482117.0  7.586221e+09
Drama      2343110  56783150       3600.0  924558264.0  3.503815e+10
Family      372490    551221    4000000.0  435110554.0  4.391106e+08
Fantasy      88794    146222  337574718.0  445151978.0  7.827267e+08
Film-Noir   158731    367215     449191.0  123353292.0  1.259105e+08
Horror      787806   3742556      89029.0  298791505.0  1.034649e+09
Mystery    1129894   4203004    1035953.0  474203697.0  1.256417e+09
Thriller     27733     27733   17550741.0   17550741.0  1.755074e+07
Western     688390   1289665    5321508.0   31800000.0  5.822151e+07

          Metascore
                min    max      sum
Genre
Action         33.0   97.0  10159.0
Adventure      41.0  100.0   4946.0
Animation      61.0   96.0   5986.0
Biography      48.0   97.0   5881.0
Comedy         45.0   99.0   9781.0
Crime          47.0  100.0   6195.0
Drama           1.0  100.0  18813.0
Family         67.0   91.0    158.0
Fantasy         NaN    NaN      0.0
Film-Noir      94.0   97.0    287.0
Horror         46.0   97.0    880.0
Mystery        52.0  100.0    633.0
Thriller       81.0   81.0     81.0
Western        69.0   90.0    313.0

[14 rows x 27 columns]

In [82]:
# Adding both the syntax
genres.agg(
    {
        'Runtime':['min','mean'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Gross':'sum',
        'Metascore':'min'
    }
)

          Runtime             IMDB_Rating No_of_Votes                  Gross  \
              min        mean        mean         sum      max           sum
Genre
Action         45  128.452381    7.934524    69351731  2303232  3.174757e+10
Adventure      88  133.619718    7.928169    21063803  1267869  9.308902e+09
Animation      71   99.271605    7.922222    21327254   999790  1.462142e+10
Biography      93  136.139535    7.925581    22516881  1213505  8.230603e+09
Comedy         68  112.103896    7.896753    26996698   939631  1.560627e+10
Crime          80  125.810000    7.979000    25851039  1826188  7.586221e+09
Drama          64  124.630282    7.947183    56783150  2343110  3.503815e+10
Family        100  107.500000    7.800000      551221   372490  4.391106e+08
Fantasy        76   85.000000    8.000000      146222    88794  7.827267e+08
Film-Noir     100  104.000000    7.966667      367215   158731  1.259105e+08
Horror         71  102.090909    7.909091     3742556   787806  1.034649e+09
Mystery        96  119.083333    7.975000     4203004  1129894  1.256417e+09
Thriller      108  108.000000    7.800000       27733    27733  1.755074e+07
Western       132  148.250000    8.350000     1289665   688390  5.822151e+07

          Metascore
                min
Genre
Action         33.0
Adventure      41.0
Animation      61.0
Biography      48.0
Comedy         45.0
Crime          47.0
Drama           1.0
Family         67.0
Fantasy         NaN
Film-Noir      94.0
Horror         46.0
Mystery        52.0
Thriller       81.0
Western        69.0

In [114]:
# looping on groups 
# df = pd.DataFrame(columns=movie_data.columns)  # create a empty columns 
# # print(df)
for group, data in genres:
    # pass 
    # print(group)
    # print(data)
    print(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

      Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
2  The Dark Knight          2008      152  Action          9.0

            Director           Star1  No_of_Votes        Gross  Metascore
2  Christopher Nolan  Christian Bale      2303232  534858444.0       84.0
          Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
26  Back to the Future          1985      116  Adventure          8.5

           Director           Star1  No_of_Votes        Gross  Metascore
26  Robert Zemeckis  Michael J. Fox      1058081  210609762.0       87.0
      Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
22   The Lion King          1994       88  Animation          8.5
25  Hotaru no haka          1988       89  Animation          8.5

         Director            Star1  No_of_Votes        Gross  Metascore
22   Roger Allers      Rob Minkoff       942045  422783777.0       88.0
25  Isao Takahata  Tsutomu Tatsumi       235231  150734678.0       94.0
       Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7  Schindler's List          1993      195  Biography          8.9

           Director        Star1  No_of_Votes       Gross  Metascore
7  Steven Spielberg  Liam Neeson      1213505  96898818.0       94.0
    Series_Title Released_Year  Runtime   Genre  IMDB_Rating      Director  \
19  Gisaengchung          2019      132  Comedy          8.6  Bong Joon Ho

           Star1  No_of_Votes       Gross  Metascore
19  Kang-ho Song       552778  53367844.0       96.0
    Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1  The Godfather          1972      175  Crime          9.2

               Director          Star1  No_of_Votes        Gross  Metascore
1  Francis Ford Coppola  Marlon Brando      1620367  134966411.0      100.0
               Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
0  The Shawshank Redemption          1994      142  Drama          9.3

         Director        Star1  No_of_Votes       Gross  Metascore
0  Frank Darabont  Tim Robbins      2343110  28341469.0       80.0
                            Series_Title Released_Year  Runtime   Genre  \
667           E.T. the Extra-Terrestrial          1982      115  Family
677  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
667          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
677          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
667       91.0
677       67.0
                     Series_Title Released_Year  Runtime    Genre  \
300  Das Cabinet des Dr. Caligari          1920       76  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
300          8.1  Robert Wiene  Werner Krauss        57428  337574718.0

     Metascore
300        NaN
      Series_Title Released_Year  Runtime      Genre  IMDB_Rating    Director  \
288  The Third Man          1949      104  Film-Noir          8.1  Carol Reed

            Star1  No_of_Votes     Gross  Metascore
288  Orson Welles       158731  449191.0       97.0
   Series_Title Released_Year  Runtime   Genre  IMDB_Rating          Director  \
28       Psycho          1960      109  Horror          8.5  Alfred Hitchcock

              Star1  No_of_Votes       Gross  Metascore
28  Anthony Perkins       604211  32000000.0       97.0
   Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
48      Memento          2000      113  Mystery          8.4
60  Rear Window          1954      112  Mystery          8.4

             Director          Star1  No_of_Votes       Gross  Metascore
48  Christopher Nolan     Guy Pearce      1125712  25544867.0       80.0
60   Alfred Hitchcock  James Stewart       444074  36764313.0      100.0
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
679  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore
679  Terence Young  Audrey Hepburn        27733  17550741.0       81.0
                       Series_Title Released_Year  Runtime    Genre  \
12  Il buono, il brutto, il cattivo          1966      161  Western

    IMDB_Rating      Director           Star1  No_of_Votes      Gross  \
12          8.8  Sergio Leone  Clint Eastwood       688390  6100000.0

    Metascore
12       90.0

In [115]:
# split (apply) combine 
# apply -> builtin function 
genres.apply(min)

C:\Users\Mandhata Kumar\AppData\Local\Temp\ipykernel_10932\4250919834.py:3: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genres.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Al Pacino,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. IÃ±Ã¡rritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro AmenÃ¡bar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [125]:
# find number of movies starting with A for each group

def foo(group):
  return group['Series_Title'].str.startswith('A').sum()

In [126]:
genres.apply(foo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        20
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [133]:
# find ranking of each movie in the group according to IMDB score 

def rank_movie(group):
    group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
    return group
    
rank_movie(movie_data)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,genre_rank
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,1.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,2.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,4.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,4.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
974,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0,918.0
975,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0,918.0
976,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0,918.0
977,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0,918.0
978,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0,918.0

In [134]:
genres.apply(rank_movie)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 679                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         27                        Once Upon a Time in the West          1968
         94                          Per qualche dollaro in piÃ¹          1965
         670                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 679      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         27       165   Western          8.5       Sergio Leone
         94       132   Western          8.3       Sergio Leone
         670      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 679     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         27         Henry Fonda       302844    5321508.0       80.0
         94      Clint Eastwood       232772   15000000.0       74.0
         670     Clint Eastwood        65659   31800000.0       69.0

              genre_rank
Genre
Action   2           1.0
         5           2.0
         8           3.5
         10          3.5
         13          6.0
...                  ...
Thriller 679         1.0
Western  12          1.0
         27          2.0
         94          3.0
         670         4.0

[979 rows x 11 columns]

In [136]:
# find normalized IMDB rating group wise 

def  normal(group):
    group['normal_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min()) / (group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group


genres.apply(normal)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 679                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         27                        Once Upon a Time in the West          1968
         94                          Per qualche dollaro in piÃ¹          1965
         670                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 679      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         27       165   Western          8.5       Sergio Leone
         94       132   Western          8.3       Sergio Leone
         670      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 679     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         27         Henry Fonda       302844    5321508.0       80.0
         94      Clint Eastwood       232772   15000000.0       74.0
         670     Clint Eastwood        65659   31800000.0       69.0

              genre_rank  normal_rating
Genre
Action   2           4.0       1.000000
         5           7.0       0.928571
         8          11.0       0.857143
         10         11.0       0.857143
         13         16.0       0.785714
...                  ...            ...
Thriller 679       624.0            NaN
Western  12         11.0       1.000000
         27         27.0       0.700000
         94         85.5       0.500000
         670       624.0       0.000000

[979 rows x 12 columns]

In [139]:
# groupby on multiple cols 
duo = movie_data.groupby(['Director', 'Star1'])
duo 

# size 
duo.size()

# get group 
duo.get_group(('Aamir Khan', 'Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,genre_rank
44,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN,48.0

In [141]:
# find the most earning actor -> director combo 
duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  ToshirÃ´ Mifune    2.999608e+09
Name: Gross, dtype: float64

In [143]:
# aggregation on multiply groupby 
duo.agg(['min', 'max'])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche LÃ©a Seydoux                 La vie d'AdÃ¨le
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Ã‡agan Irmak         Ã‡etin Tekindor              Babam ve Oglum
Ã–mer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche LÃ©a Seydoux                 La vie d'AdÃ¨le          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Ã‡agan Irmak         Ã‡etin Tekindor              Babam ve Oglum          2005
Ã–mer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                         Runtime           Genre             \
                                     max     min  max        min        max
Director            Star1
Aamir Khan          Amole Gupte     2007     165  165      Drama      Drama
Aaron Sorkin        Eddie Redmayne  2020     129  129      Drama      Drama
Abdellatif Kechiche LÃ©a Seydoux     2013     180  180      Drama      Drama
Abhishek Chaubey    Shahid Kapoor   2016     148  148     Action     Action
Abhishek Kapoor     Amit Sadh       2013     130  130      Drama      Drama
...                                  ...     ...  ...        ...        ...
Zaza Urushadze      Lembit Ulfsak   2013      87   87      Drama      Drama
Zoya Akhtar         Hrithik Roshan  2011     155  155     Comedy     Comedy
                    Vijay Varma     2019     154  154      Drama      Drama
Ã‡agan Irmak         Ã‡etin Tekindor  2005     112  112      Drama      Drama
Ã–mer Faruk Sorak    Cem Yilmaz      2004     127  127  Adventure  Adventure

                                   IMDB_Rating      No_of_Votes          \
                                           min  max         min     max
Director            Star1
Aamir Khan          Amole Gupte            8.4  8.4      168895  168895
Aaron Sorkin        Eddie Redmayne         7.8  7.8       89896   89896
Abdellatif Kechiche LÃ©a Seydoux            7.7  7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor          7.8  7.8       27175   27175
Abhishek Kapoor     Amit Sadh              7.7  7.7       32628   32628
...                                        ...  ...         ...     ...
Zaza Urushadze      Lembit Ulfsak          8.2  8.2       40382   40382
Zoya Akhtar         Hrithik Roshan         8.1  8.1       67927   67927
                    Vijay Varma            8.0  8.0       31886   31886
Ã‡agan Irmak         Ã‡etin Tekindor         8.3  8.3       78925   78925
Ã–mer Faruk Sorak    Cem Yilmaz             8.0  8.0       56960   56960

                                          Gross              Metascore        \
                                            min          max       min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869.0    1223869.0       NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410.0  853090410.0      77.0  77.0
Abdellatif Kechiche LÃ©a Seydoux       2199675.0    2199675.0      89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303.0  218428303.0       NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527.0    1122527.0      40.0  40.0
...                                         ...          ...       ...   ...
Zaza Urushadze      Lembit Ulfsak      144501.0     144501.0      73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485.0    3108485.0       NaN   NaN
                    Vijay Varma       5566534.0    5566534.0      65.0  65.0
Ã‡agan Irmak         Ã‡etin Tekindor  461855363.0  461855363.0       NaN   NaN
Ã–mer Faruk Sorak    Cem Yilmaz      196206077.0  196206077.0       NaN   NaN

                                   genre_rank
                                          min    max
Director            Star1
Aamir Khan          Amole Gupte          48.0   48.0
Aaron Sorkin        Eddie Redmayne      624.0  624.0
Abdellatif Kechiche LÃ©a Seydoux         778.0  778.0
Abhishek Chaubey    Shahid Kapoor       624.0  624.0
Abhishek Kapoor     Amit Sadh           778.0  778.0
...                                       ...    ...
Zaza Urushadze      Lembit Ulfsak       141.0  141.0
Zoya Akhtar         Hrithik Roshan      238.0  238.0
                    Vijay Varma         372.0  372.0
Ã‡agan Irmak         Ã‡etin Tekindor       85.5   85.5
Ã–mer Faruk Sorak    Cem Yilmaz          372.0  372.0

[882 rows x 18 columns]

# Exercise

In [145]:
ipl_data = pd.read_csv('C:\\Users\\Mandhata Kumar\\Machine_Learning\\Pandas\\DataFrame\\deliveries.csv')
ipl_data.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [146]:
ipl_data.shape

(179078, 21)

In [150]:
# find the top 10 batsman in terms of runs 
ipl_data.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(2)

batsman
V Kohli     5434
SK Raina    5415
Name: batsman_runs, dtype: int64

In [156]:
# find the batsman with max no of sixes 
six = ipl_data[ipl_data['batsman_runs'] == 6]

six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'CH Gayle'

In [161]:
# find batsman with most number of 4 and 6 in last 5 overs 
temp_df = ipl_data[ipl_data['over'] > 15]
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
                 ...
KC Cariappa         1
Shivam Sharma       1
Shoaib Malik        1
T Curran            1
KJ Abbott           1
Name: batsman, Length: 360, dtype: int64

In [170]:
# find virat kohli record against all teams 
temp_df = ipl_data[ipl_data['batsman'] == 'V Kohli']

temp_df.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [174]:
# create a function that can return the highest score of any batsman 
temp_df = ipl_data[ipl_data['batsman'] == 'V Kohli']
temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(10)

match_id
626      113
620      109
611      108
11326    100
595      100
438       99
7907      93
432       93
11153     84
562       82
Name: batsman_runs, dtype: int64

In [175]:
def highest(batsman):
    # create a function that can return the highest score of any batsman 
    temp_df = ipl_data[ipl_data['batsman'] == 'V Kohli']
    return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(10)

In [176]:
highest('DA Warner')

match_id
626      113
620      109
611      108
11326    100
595      100
438       99
7907      93
432       93
11153     84
562       82
Name: batsman_runs, dtype: int64